mat-expansion-panel {
    margin-top:5px;
}
mat-expansion-panel > mat-icon{
    color:#c93217
}
.card-form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: #17bdc9;
}
.card-form > mat-card-header{
    color:white;
}
.panel{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #cececec5;
}
.card-sintomas{
    background-color: #17bdc9;
    color:white;
}
.card-sintomas mat-list-item mat-icon{
    color:#c93217
}
.text{
    text-align: justify;
    word-break: break-all;
}
.danger{
    background-color: #da352f;
    color:white;
}
.success{
    background-color: #25c247;
    color:white;
}
h3{ 
    text-align: center;
    color:black
}
