mat-card {
  margin-top: 5vh;
}
mat-card-actions {
    margin-bottom: 10vh;
}

mat-divider {
    border: none;
}
mat-icon {
    color: white;
}

mat-error {
    color:rgb(255, 255, 255);
}

.cor {
    background-color: #ffffff;
}

.mat-raised-button{
    text-align: center;
}

.full-width-input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.mat-raised-button {
    background-color: rgb(50, 42, 163);
    color:white;
}
.link {
   color:rgba(255, 255, 255, 0.876);
   cursor:pointer;
}
.link:hover {
    color: rgb(52, 250, 79);
}


