mat-spinner{
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5%;
    margin-bottom: 5%;
}
.center{
    text-align:center;
    margin-top: 50px;
}
.card-sintomas{
    background-color: #17bdc9;
    color:white;
}
.card-sintomas  mat-card-title,mat-list-item{
    color:white;
}
.card-sintomas mat-list-item mat-icon{
    color:#c93217
}
.card-form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #17bdc9;
}
.card-form  mat-card-title,mat-icon{
    color:white;
}
.card-form > mat-card-actions{
    text-align: center;
}
.card-form > mat-checkbox{
    color:white;
}
.btn-send{
    background-color: rgb(12, 114, 12);
}
.btn-reset{
    background-color: #bdb10f;
}
.card-default{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #25c247;
    color:white;
}
.example-full-width {
    width: 100%;
}
.panel{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #cececec5;
}

.danger{
    background-color: #da352f;
    color:white;
}

