mat-card {
    margin-top: 3vh;
}

.formulario {
    height: 100vh;
}
.formulario mat-card-title, mat-icon {
    color:white;
}
.formulario > mat-card-actions {
    text-align: center;
}
.formulario > mat-checkbox {
    color:white;
}



