<div *ngIf="!isLoad">
    <div [ngSwitch]="isSubmitToday">
        <form [formGroup]="formularioForm" *ngSwitchCase="false" (ngSubmit)="onSubmit()">
            <mat-card class="card-form" *ngIf="!hideForm">
                <mat-card-header>
                    <mat-icon>rate_review</mat-icon>
                    <mat-card-title>Formulario</mat-card-title>
                    <mat-card-subtitle>Preencher</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-list *ngFor="let sintoma of sintomas">
                        <mat-list-item>  
                            <mat-checkbox formControlName="{{sintoma.tipo}}" color="primary">
                                {{sintoma.descricao}}
                            </mat-checkbox> 
                        </mat-list-item>
                    </mat-list>
                    <mat-form-field class="example-full-width">
                        <mat-label>Outro ?</mat-label>
                        <textarea formControlName="outro" matInput></textarea>
                        <mat-error *ngIf="formularioForm.get('outro').invalid">
                           {{validationMessage.getErrorMessage('outro',formularioForm)}}
                        </mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button [disabled]="formularioForm.invalid" type="submit" class="btn-send" mat-button>
                        <mat-icon>done</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
        <div class="center" *ngSwitchDefault>
            <mat-card class="card-default">
                <h2>
                    Formulario {{dateToday}} Preenchido 
                    <mat-icon> add_task</mat-icon>
                </h2>
            </mat-card>
            <div *ngIf="usuario.formularios.length !== 0">
                <mat-accordion *ngFor="let form of usuario.formularios; let i = index"  multi>
                    <mat-expansion-panel class="panel" #panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Formulario {{form.data | date: 'dd/MM/yyyy'}}
                            </mat-panel-title>
                            <mat-panel-description>
                                Clique para ver <mat-icon>history</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-card class="card-sintomas">
                            <mat-card-header>
                                <mat-icon>coronavirus</mat-icon>
                                <mat-card-title>Sintomas Apresentados:</mat-card-title>
                                <mat-card-subtitle></mat-card-subtitle>
                            </mat-card-header>
                            <mat-list>
                                <span *ngFor="let sintoma of sintomas">
                                    <mat-list-item *ngIf="form[sintoma.tipo]">  
                                        <span>{{sintoma.descricao}} <mat-icon>error</mat-icon></span>
                                    </mat-list-item>
                                </span>
                            </mat-list>
                            <mat-list>
                                <mat-list-item *ngIf="form.outro">  
                                    <div class="text">{{form.outro}}</div> <mat-icon>error</mat-icon>
                                </mat-list-item>
                           </mat-list>
                        </mat-card>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>
<mat-spinner *ngIf="isLoad"></mat-spinner>




